flows.json
[{"id":"218b4167.6cb46e","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"a9dc64a.af53698","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"e8295e98.796aa","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"f6fdc58a.1d8928","type":"chatbot-telegram-node","z":"","botname":"mrobot","usernames":"","providerToken":"","polling":"1000","store":"","log":"","parseMode":"","debug":false},{"id":"a0950df.0edb9f","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"16ac501c.42226","type":"ui_tab","name":"Tab 1","icon":"dashboard","order":1},{"id":"117c1acf.db0925","type":"ui_group","name":"Group 1","tab":"16ac501c.42226","order":1,"disp":true,"width":6},{"id":"ca69594d.f36ef8","type":"concore-amqp-config","z":"","host":"54.233.222.101","port":"5672","user":"concoreio","password":"Natasha"},{"id":"b1cb88b6.1c5238","type":"mqtt-broker","z":"","name":"","broker":"broker.mqttdashboard.com","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"c29a814c.b6603","type":"inject","z":"218b4167.6cb46e","name":"","topic":"","payload":"Demora na comunição de quebra de equipamentos via radio","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":464,"y":198,"wires":[["8a547599.25bfb8"]]},{"id":"4417c6cc.728ff8","type":"debug","z":"218b4167.6cb46e","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","x":566,"y":360,"wires":[]},{"id":"5f38d5cb.639f3c","type":"watson-conversation-v1","z":"218b4167.6cb46e","name":"","workspaceid":"9e0aed74-d8e1-4e34-bea6-8dd7999fd7bb","multiuser":true,"context":true,"empty-payload":false,"default-endpoint":true,"service-endpoint":"https://gateway.watsonplatform.net/assistant/api","timeout":"","optout-learning":false,"x":636,"y":270,"wires":[["96618ed5.ff5da"]]},{"id":"f23bcc9b.3eaaf","type":"chatbot-telegram-receive","z":"218b4167.6cb46e","bot":"f6fdc58a.1d8928","botProduction":"","x":108,"y":162,"wires":[["47fe49d1.05d0f8","c48fc174.84a67"]]},{"id":"5a9fc8c2.7dbc18","type":"chatbot-telegram-send","z":"218b4167.6cb46e","bot":"f6fdc58a.1d8928","botProduction":"","track":false,"passThrough":false,"outputs":0,"x":774,"y":72,"wires":[]},{"id":"47fe49d1.05d0f8","type":"change","z":"218b4167.6cb46e","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.content","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":378,"y":270,"wires":[["5f38d5cb.639f3c","8a547599.25bfb8"]]},{"id":"1315cbc.ed04fb4","type":"function","z":"218b4167.6cb46e","name":"","func":"//msg.response = msg.payload.output.text[0]\nconsole.log(\"Apresentação de backup\")\nconsole.log(msg.backup)\nconsole.log(\"Apresentação de payload\")\nconsole.log(msg.payload)\n\nmsg.backup.content = msg.payload.output.text[0];\n//msg.payload.chatID = 313597951\nmsg = msg.backup;\nconsole.log(\"novo payload\")\nconsole.log(msg.payload)\n\nreturn msg;","outputs":1,"noerr":0,"x":158,"y":414,"wires":[[]]},{"id":"41d50832.e3377","type":"debug","z":"218b4167.6cb46e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1150,"y":144,"wires":[]},{"id":"38400dc4.fc00d2","type":"change","z":"218b4167.6cb46e","name":"","rules":[{"t":"set","p":"payload.content","pt":"msg","to":"payload.output[0]","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":884,"y":126,"wires":[[]]},{"id":"f3cc11bd.5865d","type":"function","z":"218b4167.6cb46e","name":"","func":"msg = msg.backup.content;\nreturn msg;","outputs":1,"noerr":0,"x":698,"y":468,"wires":[[]]},{"id":"aec931b2.45a9f","type":"change","z":"218b4167.6cb46e","name":"","rules":[{"t":"set","p":"backup.content","pt":"msg","to":"response","tot":"msg"},{"t":"set","p":"_msgid","pt":"msg","to":"313597950","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":494,"y":468,"wires":[["f3cc11bd.5865d"]]},{"id":"7f5488ee.b540c8","type":"debug","z":"a9dc64a.af53698","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":770,"y":54,"wires":[]},{"id":"185567de.e8eeb8","type":"change","z":"218b4167.6cb46e","name":"","rules":[{"t":"set","p":"payload.content","pt":"msg","to":"payload.output.text","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":36,"wires":[["5a9fc8c2.7dbc18"]]},{"id":"4a63b894.c75918","type":"ui_text","z":"218b4167.6cb46e","group":"117c1acf.db0925","order":1,"width":0,"height":0,"name":"","label":"","format":"{{msg.payload}}","layout":"row-spread","x":1022,"y":270,"wires":[]},{"id":"96618ed5.ff5da","type":"change","z":"218b4167.6cb46e","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.output.text","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":810,"y":270,"wires":[["4a63b894.c75918"]]},{"id":"c2364fec.a99eb","type":"ui_text","z":"218b4167.6cb46e","group":"117c1acf.db0925","order":1,"width":0,"height":0,"name":"","label":"","format":"{{msg.payload}}","layout":"row-spread","x":554,"y":162,"wires":[]},{"id":"c48fc174.84a67","type":"change","z":"218b4167.6cb46e","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.content","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":342,"y":162,"wires":[["c2364fec.a99eb"]]},{"id":"8a547599.25bfb8","type":"watson-natural-language-classifier","z":"218b4167.6cb46e","name":"","mode":"classify","language":"en","classifier":"7ff8fax513-nlc-1698","collections-off":true,"default-endpoint":true,"service-endpoint":"https://gateway.watsonplatform.net/natural-language-classifier/api","x":804,"y":198,"wires":[["41d50832.e3377","1749103a.25031","ea2bb88f.684c18"]]},{"id":"525e2553.86c54c","type":"ibmiot in","z":"218b4167.6cb46e","authentication":"quickstart","apiKey":"","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"70bc65b5.29f5cc","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"quickstart","allDevices":"","allApplications":"","allDeviceTypes":true,"allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":86,"y":360,"wires":[["b36cf77b.1d7648"]]},{"id":"b36cf77b.1d7648","type":"change","z":"218b4167.6cb46e","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.d.value","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":288,"y":360,"wires":[["4417c6cc.728ff8","8a547599.25bfb8"]]},{"id":"948434f0.1d64f8","type":"http in","z":"218b4167.6cb46e","name":"","url":"/api","method":"get","upload":false,"swaggerDoc":"","x":96,"y":288,"wires":[["44aa9e4b.3316d"]]},{"id":"1749103a.25031","type":"http response","z":"218b4167.6cb46e","name":"","statusCode":"","headers":{},"x":1256,"y":252,"wires":[]},{"id":"ea2bb88f.684c18","type":"wiotp out","z":"218b4167.6cb46e","authType":"d","qs":"true","qsDeviceId":"ea2bb88f.684c18","deviceKey":"","deviceType":"","deviceId":"","event":"event","format":"json","qos":"","name":"","x":1327,"y":198,"wires":[]},{"id":"ceb029a2.e7b9a8","type":"function","z":"218b4167.6cb46e","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":1080,"y":414,"wires":[[]]},{"id":"73f5c21f.ca993c","type":"http in","z":"e8295e98.796aa","name":"","url":"/api","method":"get","upload":false,"swaggerDoc":"","x":116,"y":58,"wires":[["19ad4858.a92388","937e585a.c26e58"]]},{"id":"937e585a.c26e58","type":"debug","z":"e8295e98.796aa","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":320,"y":108,"wires":[]},{"id":"10bf19e1.592866","type":"http response","z":"e8295e98.796aa","name":"","statusCode":"","headers":{},"x":698,"y":54,"wires":[]},{"id":"1d094846.c974c8","type":"change","z":"e8295e98.796aa","name":"Store time","rules":[{"t":"set","p":"api","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":592,"y":306,"wires":[[]]},{"id":"19ad4858.a92388","type":"change","z":"e8295e98.796aa","name":"Copy time","rules":[{"t":"set","p":"api","pt":"msg","to":"api","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":358,"y":54,"wires":[["e6d32f97.526f3"]]},{"id":"606b44e7.9ef94c","type":"change","z":"e8295e98.796aa","name":"Set Headers","rules":[{"t":"set","p":"headers","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"headers.content-type","pt":"msg","to":"application/json","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":586,"y":158,"wires":[[]]},{"id":"58b8acf3.263da4","type":"ibmiot in","z":"e8295e98.796aa","authentication":"quickstart","apiKey":"","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"70bc65b5.29f5cc","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"quickstart","allDevices":"","allApplications":"","allDeviceTypes":true,"allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":104,"y":306,"wires":[["2c9407d5.3d2628"]]},{"id":"2c9407d5.3d2628","type":"change","z":"e8295e98.796aa","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.d.value","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":324,"y":288,"wires":[["1d094846.c974c8"]]},{"id":"e6d32f97.526f3","type":"template","z":"e8295e98.796aa","name":"","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{{payload}}","output":"json","x":540,"y":54,"wires":[["10bf19e1.592866"]]},{"id":"44aa9e4b.3316d","type":"template","z":"218b4167.6cb46e","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Caminhoes com conteiners que precisam ser escaneados estacionam na quadra sem scanear\n","output":"str","x":312,"y":306,"wires":[["8a547599.25bfb8"]]}]